<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <title>Document</title>
  <style type="text/css">
  </style>
</head>

<body style="width: 100%; margin: auto 0; padding:0; font-size:18px; color:#33475B; word-break:break-word">
  <table role="presentation" width="100%"
    style="border-top-left-radius: 2rem; border-top-right-radius: 2rem; border-bottom: 0.5px solid #33475B; background-color: #f4f4f4; padding: 1rem;">
    <tr>
      <td>
        <img src="cid:sinarlog.png" alt="SinarLog" width="174px" height="47px">
      </td>
      <td style="text-align: right;">
        <h6>Powered by
          <img src="cid:sinarmas.png" style="width: 6rem;">
        </h6>
      </td>
    </tr>
  </table>
  <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0"
    style="border-bottom-left-radius: 2rem; border-bottom-right-radius: 2rem; background-color: #f4f4f4; padding: 1rem;">
    <tr role="presentation" width="100%">
      <td>
        <h4>Hello, {{.RequesteeName}}.</h4>
        <p>Your overtime submission has been processed and was {{if .Approved}}approved by your manager.{{else}}rejected
          by your manager with the following reason:{{end}}</p>
      </td>
    </tr>
    {{if .RejectionReason}}
    <tr>
      <td align="center">
        <pre style="font-style: italic; font-size: medium; max-width: 70%; white-space: pre-wrap;">
        {{.RejectionReason}}
        </pre>
      </td>
    </tr>
    {{end}}
    <tr role="presentation" width="100%" align="left">
      <td>
        <p>If you have any questions, you may directly contact your manager.</p>
        <p>Thank you for your cooperation. We look forward to your contributions.</p>
        <address>
          Best regards,<br>
          SinarLog
        </address>
      </td>
    </tr>
  </table>
</body>

</html>